absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster
altair==4.2.2
anaconda-client==1.11.0
anaconda-navigator==2.3.1
anaconda-project 
anyio 
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
Babel 
backcall==0.2.0
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black 
bleach 
blinker==1.6.1
bokeh
boltons 
boto3 
botocore 
Bottleneck 
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.0
certifi 
cffi
chardet 
charset-normalizer 
click 
cloudpickle 
clyent==1.2.2
colorama==0.4.6
colorcet
comm==0.1.2
comtypes==1.1.10
conda==23.3.1
conda-build==3.22.0
conda-content-trust 
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.20
conda-token 
conda-verify==3.4.2
constantly==15.1.0
cookiecutter 
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.6.0
dask
dataprep==0.4.5
datashader
datashape==0.5.4
debugpy==1.6.4
decorator==5.1.1
defusedxml
diff-match-patch
dill 
distributed 
docutils
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup 
executing==0.8.3
filelock 
finance-datareader==0.9.50
flake8 
Flask==2.2.3
Flask-Cors==3.0.10
flatbuffers==23.3.3
folium==0.14.0
fonttools==4.25.0
frozenlist==1.3.3
fsspec 
future 
gast==0.4.0
gensim 
geographiclib==2.0
geohash2==1.1
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
glob2 
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlemaps==4.10.0
greenlet 
grpcio==1.51.3
h11 
h5py
haversine==2.8.0
HeapDict 
holoviews 
hvplot
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
imbalanced-learn==0.10.1
importlib-metadata 
incremental
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel==6.19.4
ipython==8.8.0
ipython-genutils
ipywidgets
isort 
itemadapter
itemloaders
itsdangerous 
jdcal
jedi==0.18.2
jellyfish
Jinja2==3.0.3
jinja2-time
jmespath
joblib==1.2.0
json5 
jsonpatch
jsonpath-ng==1.5.3
jsonpointer==2.1
jsonschema 
jupyter 
jupyter-console
jupyter-server 
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyterlab 
jupyterlab-pygments
jupyterlab-server 
jupyterlab-widgets
keras==2.11.0
keyring 
kiwisolver 
lazy-object-proxy
Levenshtein==0.21.0
libarchive-c 
libclang==15.0.6.1
lightgbm==3.3.5
llvmlite==0.38.0
locket 
lxml 
lz4 
Markdown 
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib 
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
menuinst 
Metaphone==0.6
missingno==0.5.2
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
mpmath==1.2.1
msgpack 
multidict==6.0.4
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
nbclassic
nbclient 
nbconvert 
nbformat 
nest-asyncio==1.5.6
networkx 
nltk 
nose 
notebook 
numba
numexpr 
numpy==1.21.0
numpydoc 
oauthlib==3.2.2
olefile 
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
outcome 
packaging==22.0
pandas
pandocfilters
panel 
param 
paramiko
parsel
parso==0.8.3
partd 
pathlib
pathspec
pep8==1.7.1
pexpect 
pickleshare==0.7.5
Pillow==9.2.0
pkginfo
platformdirs==2.6.2
plotly 
pluggy 
ply==3.11
polyline==2.0.0
poyo 
prometheus-client
prompt-toolkit==3.0.36
Protego 
protobuf==3.19.6
psutil==5.9.4
ptyprocess 
pure-eval==0.2.2
py 
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser 
pyct 
pycurl==7.45.1
pydantic==1.10.6
pydeck==0.8.0
PyDispatcher==2.0.5
pydocstyle 
pydot==1.4.2
pyerfa 
pyflakes 
Pygments==2.14.0
PyHamcrest 
PyJWT 
pylint 
pyls-spyder==0.4.0
Pympler==1.0.1
PyNaCl 
pyodbc 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==7.1.2
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-dotenv==1.0.0
python-Levenshtein==0.21.0
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify
python-snappy 
python-stdnum==1.18
pytz 
pytz-deprecation-shim==0.1.0.post0
pyviz-comms 
PyWavelets
pywin32==305
pywin32-ctypes 
pywinpty 
PyYAML==6.0
pyzmq==24.0.1
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib==1.5.0
rapidfuzz==2.13.7
regex==2021.11.10
requests 
requests-file 
requests-oauthlib==1.3.1
rich==13.3.3
rope 
rsa==4.9
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
ruamel.yaml.clib 
s3transfer 
scikit-image 
scikit-learn==1.2.1
scikit-learn-intelex==2021.20221004.171935
scipy==1.9.1
Scrapy
seaborn 
selenium 
Send2Trash 
service-identity
sip==4.19.13
six==1.16.0
smart-open 
smmap==5.0.0
sniffio
snowballstemmer 
sortedcollections
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy==1.3.24
stack-data==0.5.1
statsmodels==0.13.2
streamlit==1.21.0
streamlit-folium==0.11.1
sympy
tables==3.6.1
tabulate
TBB==0.2
tblib 
tenacity
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado
testpath 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss 
tldextract
toml 
tomli 
tomlkit 
toolz 
tornado==4.5.3
tqdm 
traitlets==5.8.0
trio 
trio-websocket
Twisted 
twisted-iocpsupport 
typing_extensions 
tzdata==2023.3
tzlocal==4.3
ujson 
Unidecode 
urllib3
validators==0.20.0
varname==0.8.3
w3lib 
watchdog 
wcwidth==0.2.5
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client 
Werkzeug==2.2.3
widgetsnbextension
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.2.2
wrapt 
wsproto 
xarray 
xgboost==1.7.4
xlrd 
XlsxWriter 
xlwings 
yapf 
yarl==1.8.2
zict==2.1.0
zipp 
zope.interface 
